---
import { Icon } from 'astro-icon';
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>与经验丰富的解决方案提供商一起共筑未来</span>
				</h2>
				<p class="text-xl text-gray-600 dark:text-slate-400">
					探索基于现成和定制 Jason's Team 技术的可持续发展解决方案，这些解决方案旨在帮助您在实现目标的同时提升价值。
				</p>

				<div class="mt-6">
					<a
						class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
						href="/price"
						target="_blank"
						rel="noopener"
					>
						<Icon name="entypo:shop" class="w-5 h-5 mr-1 -ml-1.5" /> 查找解决方案
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
