---
import { Icon } from 'astro-icon';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-20">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
								不想现在下单病毒？不妨了解一些我们的服务流程
							</h2>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								可以与专家面对面交谈，商讨专属于您的服务方案。无论您是线上咨询还是线下交谈，都能保证获得高品质的服务。You can talk face-to-face with an expert to discuss a service plan just for you.Whether you are consulting online or chatting offline, you can guarantee high-quality service.
							</p>

							<div class="w-full">
								<a
									class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
									href="https://github.com/onwidget/astrowind"
									target="_blank"
									rel="noopener"
								>
									<Icon name="entypo:shop" class="w-5 h-5 mr-1 -ml-1.5" /> 立即选购
								</a>
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">选择服务</h3>
									<p class="text-gray-500 dark:text-gray-400">
										您是想攻击谁？选择合适的服务并且提供的充足的信息，我们就会开始为您定制最佳的方案。
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">下单支付</h3>
									<p class="text-gray-500 dark:text-gray-400">
										多种支付方式并存。无论您是海外用户还是国内的用户，都能找到支付方案。资金不足？不要紧。Jason团队接受抵押分期付款。
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">纵享服务</h3>
									<p class="text-gray-500 dark:text-gray-400">
										支付完成后，仅需坐等Jason团队询问必要的信息。我们在服务开始和结束时都会通知您。
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
